<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.taobao.launch"
          android:installLocation="auto"
          android:versionCode="102"
          android:versionName="4.6.0" >

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="18" />

    <application
            android:name="com.taobao.tao.TaobaoApplication"
            android:icon="@drawable/icon"
            android:label="@string/taobao_app_name" >

        <meta-data
                android:name="application"
                android:value="com.taobao.tao.TaoApplication">
        </meta-data>

        <receiver android:name="com.atlas.application.ReplacedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <activity
                android:name="android.taobao.atlas.runtime.AtlasFakeActivity">
                </activity>

    </application>

</manifest>
